.color{
    height:auto;
    width:auto;
    background-color: #000;
}
.fd{
    position: absolute;
    top:50%;
    left:65%;
    transform: translateX(-50%) translateY(-50%);
    filter: drop-shadow(0 0 11px white);
    width:600px;
    height:580px;
}
*{
    padding: 0;
    margin: 0;
    font-family: 'josefin sans', sans-serif;
    box-sizing: border-box;
}
.hero{
    height: 100vh;
    width: 100%;
}
nav{
    display: flex;
    font-size: 21px;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
.logo{
    color: white;
    font-size: 41px;
    letter-spacing: 1px;
    cursor: pointer;
}
span{
    color:red;
}
 nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;

 }
 nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    color:red;
    transition: .4s;
}
.btn{
    background-color:red;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform.4s;
}
.btn:hover{
    transform: scale(1.2);
}
.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}
h1{
    color:white;
    margin: 20px 0px 20px;
    font-size: 75px;
}
h3{
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}
h4{
    color: #fcfc;
    letter-spacing: 2px;
    font-size: 20px;
}
.newslatter form{
    width: 380px;
    max-width: 100%;
    position: relative;
}
.newslatter form input:first-child{
    display: inline-block;
    width: 100%;
    height:60px;
    padding: 14px 130px 14px 15px;
    border: 2px solid red;
    outline: none;
    border-radius: 30px;
}
.newslatter form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    height:49px;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: red;
    color: white;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    top: 6px;
    right: 6px;
}
.about{
    width: 100%;
    padding: 100px 0px;

}
.about-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text p{
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
button{
    background-color: red;
    color: white;
    font-size: 20px;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
button:hover{
    background-color: transparent;
    border: 2px solid red;
    cursor: pointer;
}
.skill-h1{
    text-align: center;
}
.skill-h3{
    margin:5px;
}
.skill{
    font-family: Gill Sans,sans-serif;
    list-style: none;
    background: #333;
    text-transform: uppercase;
    border-radius: 15px;
    height:auto;
    width:500px;
    margin:60px auto;
    color:#fff;
    margin-top:3rem;
    padding:20px;
    box-shadow:0 0 15px whitesmoke,
    0 0 25px whitesmoke;
}
.kite{
    color: white;
}
.skill .list{
    margin:20px;
    padding:10px;
}
.bar{
    background: #353b48;
    display: block;
    height: 20px;
    border:1px solid rgba(0,0,0,0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.bar:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22);
}
.bar span{
    height:20px;
    float:left;
    background: linear-gradient(135deg,rgb(232, 22, 22)0%,rgb(224, 108, 62)100%);
}
.html{
    width:90%;
    animation:html 3s;
}
.css{
    width:60%;
    animation:css 3s;
}
.python{
    width:70%;
    animation:python 3s;
}
.java{
    width:55%;
    animation:java 3s;
}
@keyframes html{
    0%{
        width:0%;
    }
    100%{
        width:90%;
    }
}
@keyframes css{
    0%{
        width:0%;
    }
    100%{
        width:60%;
    }
}
@keyframes python{
    0%{
        width:0%;
    }
    100%{
        width:70%;
    }
}
@keyframes java{
    0%{
        width:0%;
    }
    100%{
        width:55%;
    }
}
.skills{
    height: 100vh;
    width: 100%;
    background-color:black;
}
.contact  {
    width:100%;
    height: 290px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center; 
  }
.button-two{
    background-color:red;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform.4s;
}
button-two:hover{
    
        transform: scale(1.2);
    
}
.social{
    display:flex;
    text-align: center;
    justify-content: center;
}
.social a{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9004d;
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 80px;
}
.social a:hover{
    transform: scale(1.3);
    transition: .3s;
}